*>img{
    transition: transform 0.3s ease-in;
}

img:hover{
    transform: translateY(-5px);
}

.search-form{
    width: 50%;
}

.search-icon{
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.search-icon:hover{
    background-color: transparent;
    outline: none;
    border: none;
}

.carousel-item{
    background-color:#FCEAE8;
}


.carousel-item p.display-3{
    color: #FF2177;
}

.carousel-item a{
    background: linear-gradient(180deg, #FF5498,#FF1571);
    color: #fff;
    outline: none;
    border: none;
    padding: 0.6rem 1.5rem;
    transition: background 1s ease;
    position: relative;
    z-index: 99 !important;
}

.carousel-item a:hover{
    background: linear-gradient(0deg, #FF5498,#FF1571);
    color: #fff;
}

.category img{
    width: 30%;
}

.shoes-section,.bags-section{
    background-color: #F4F4F4;
}

footer{
    background-color: #FCEAE8;
}

input[type="email"]{
    width: 40%;
}

